---
layout: article
title: Boys and Girls Club Organic Garden
---

<figure>
  <img src="/images/news/boys-girls-organic-garden.jpg" class="alignleft" width="300">
</figure>

<p>
  In 2011, our society was asked if they would help the Boys and Girls Club in
  Metchosin with the design and development of an organic garden.
</p>

<p>
  The project started in April. We fenced-in an area of approximately
  three-quarters of an acre. We were working with St. Michael's High School
  volunteers on this project, and they were a great help. We appreciate their
  efforts.
</p>
