---
layout: article
title: New Bryn Location
date: 2017-05-16
stylesheets: ["lightbox"]
javascripts: ["jquery.min", "lightbox"]
---

<p class="clear">
  <a data-fancybox="bryn" href="/images/gallery/bryn/bryn-garden-before-01.jpg">
    <img class="alignleft" src="/images/gallery/bryn/thumbs/bryn-garden-before-01_thumb.jpg" alt="A fence encloses some long grass.">
  </a>
  We started our new project on Bryn in 2016! We removed existing fence and two
  acres of blackberry bushes, which gave us access to a pond! We then
  established a 75 by 75 organic garden space by installing 7 foot fence posts
  and deer fencing. A big thanks to St. Michael's School students who helped
  erect the fence!
</p>

<p class="clear">
  <a data-fancybox="bryn" href="/images/gallery/bryn/bryn-house.jpg">
    <img class="alignleft" src="/images/gallery/bryn/thumbs/bryn-house_thumb.jpg" alt="A wooden shelter covers a table and lawnchairs.">
  </a>
  We then cultivated and rototilled the garden space, and planted 12 different
  types of tomatoes! Mostly quite a variety of cherry tomatoes. We also planted
  2 or 3 scarlet runner beans, 12 different types of squash, and three types of
  potatoes. Additionally we planted peas, carrots, cucumbers, pumpkins, onions,
  zucchinis, and 50 or more polebeans.
</p>


<p class="clear">
  <a data-fancybox="bryn" href="/images/gallery/bryn/bryn-before-04.jpg">
    <img class="alignleft" src="/images/gallery/bryn/thumbs/bryn-before-04_thumb.jpg" alt="Dead brush and wooden crates burn around a pond.">
  </a>
  We cleared two acres of blackberry bushes, mostly by burning them, with the
  help of broken wooden crates that a local trucking company donated to us. We
  burned a few hundred crates to help eradicate the bushes!
</p>

<p class="clear">
  <a data-fancybox="bryn" href="/images/gallery/bryn/bobcat-02.jpg">
    <img class="alignleft" src="/images/gallery/bryn/thumbs/bobcat-02_thumb.jpg" alt="Skidsteer carries dirt in front of a pond">
  </a>
  We used a Bobcat to remove the roots of the blackberry bushes and to landscape
  the area to have access to the pond! Then we built a 26- by 6-foot dock on the
  water's edge! We also used the Bobcat to build a road into the property.
</p>

<p class="clear">
  <a data-fancybox="bryn" href="/images/gallery/bryn/chickens-1.jpg">
    <img class="alignleft" src="/images/gallery/bryn/thumbs/chickens-1_thumb.jpg" alt="Chickens roam in a fenced-off enclosure.">
  </a>
  Our other projects included installing an eight-foot fence around an existing
  chicken coop, which we cleaned out, repaired, and painted. The fence is 50 by
  5ft square. We then bought 21 laying hens and donated eggs to some of the
  different societies for children. We also tore down an old chicken coop (20 by
  12ft), then built a new one.
</p>

<p class="clear">
  <a data-fancybox="bryn" href="/images/gallery/bryn/st-michaels-06.jpg">
    <img class="alignleft" src="/images/gallery/bryn/thumbs/st-michaels-06_thumb.jpg" alt="A dozen students help lay woodchips beside a pond.">
  </a>
  Other projects included building compost containers 6 by 4 feet by 4 feet
  high.  Also we spread 12 yards of cedar wood chips to dress up the garden
  pathway. Then we used the chips around the areas that we landcaped around the
  pond. Again we would like to thank St. Michael's School for helping us with
  this project, especially coordinator Kevin Cook!
</p>

<p class="clear">
  <a data-fancybox="bryn" href="/images/gallery/bryn/bryn-before-01.jpg">
    <img class="alignleft" src="/images/gallery/bryn/thumbs/bryn-before-01_thumb.jpg" alt="A wooden beehive stands behind some tall grass.">
  </a>
  Our garden site includes honey bees. We have three hives each capable of
  producing 25 to 55 kilograms of honey per year. Also they are beneficial to the
  pollination of plants and vegetables in our area. The hives are a new design
  built by a local beekeeper Barry Danyluk.
</p>

<p class="clear">
  <a data-fancybox="bryn" href="/images/news/honeybees.jpg">
    <img class="alignleft" src="/images/news/honeybees_thumb.jpg" alt="A man holds a honeycomb from a wooden beehive.">
  </a>
  This was an inspection of the hive to determine whether the bees are in good
  health and what action has to be taken. To keep the honey bees healthy, we
  must add sufficient amounts of vitamins &amp; various types of medicines to
  help keep them disease free.
</p>

<p>
  <a href="/photos">See more photos &rarr;</a>
</p>
