---
layout: article
title: St. Michael's Students Volunteer at Fleming Owl Cherry Orchard
date: 2014-04-03
stylesheets: ["lightbox"]
javascripts: ["jquery.min", "lightbox"]
---

<iframe src="https://player.vimeo.com/video/130166055?portrait=0" width="635" height="476" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>

<p>
  The Cultivating Local Yokals Society, with the help of students from St.
  Michael's University School, helped clean out ivy from an orchard in
  Esquimalt.
</p>

<div class="tiles tiles-two-up">
	<figure>
    <a href="/images/news/st-michaels-fleming/before.jpg" data-fancybox="gallery" data-caption="Before">
      <img src="/images/news/st-michaels-fleming/before_thumb.jpg" alt="An orchard covered in green overgrowth.">
    </a>
		<figcaption>Before</figcaption>
  </figure>

	<figure>
    <a href="/images/news/st-michaels-fleming/after.jpg" data-fancybox="gallery" data-caption="After">
      <img src="/images/news/st-michaels-fleming/after_thumb.jpg" alt="Overhead shot of cleaned orchard; a pile of removed brush sits on a tarp.">
    </a>
    <figcaption>After</figcaption>
  </figure>
</div>
