//-----------------------------------------------------------------------------
// Layout
//-----------------------------------------------------------------------------
.container
	+container(960px)

.site-header
	position: relative
	height: $header-height
	background: $link-color
	box-shadow: 0 1px 2px rgba(black, 0.2)

	hgroup
		+span(4)

		> h1
			margin: 0
			font-size: 25px
			font-weight: 300
			line-height: $header-height

			> a
				text-decoration: none
				color: $yellow

	.main-menu
		+span(8 omega)
		text-align: right

.contentwrapper
	padding: $content-padding

.content
	+span(8)

	p
		line-height: 1.5em

.sidebar
	+span(3 omega)
	+prefix(1)

	h1
		margin: 0 0 0.5em 0
		font-size: 2em

	.widget
		p
			line-height: 1.4em

		.important
			text-align: center

		a
			text-decoration: none
			padding: 3px 7px
			background: white
			border-radius: 5px

			&:hover
				color: white
				background-color: $link-color


//-----------------------------------------------------------------------------
// Common content layout helper classes
//-----------------------------------------------------------------------------
.alignleft
	float: left

.alignright
	float: right

img
	&.alignleft
		margin-right: 1em
	&.alignright
		margin-left: 1em

.page-title
	margin: 0 0 20px 0
	font-size: 40px
	font-weight: 700
	line-height: 1.1em

.intro
	margin: 0 0 1em 0
	padding: 20px 0
	font-size: 25px
	font-family: $primary-font-family
	font-weight: 300
	line-height: 1.75em
	border-bottom: 3px solid black
