//-----------------------------------------------------------------------------
// Susy Config
//-----------------------------------------------------------------------------
$susy: (columns: 12)

//-----------------------------------------------------------------------------
// Variables
//-----------------------------------------------------------------------------
$content-padding: 20px
$header-height: 60px
$menu-height: $header-height

$primary-font-family: "PT Sans", Helvetica, sans-serif

$color-grey-dark: #444
$yellow: #FFF829
$color-red: #CD1A2C
$color-pink: #F2B7BD

$color-text: $color-grey-dark
$link-color: $color-red
