%nav.main-menu
	.container
		%ul
			%li#nav-news
				%a(href="/") News
			%li#nav-projects
				%a(href="/projects") Projects
			%li#nav-photos
				%a(href="/photos") Photos
			%li#nav-about
				%a(href="/about") About Us
			%li#nav-sponsors
				%a(href="/sponsors") Sponsors
			%li#nav-contact
				%a(href="/contact") Contact
			%li#nav-donate
				%a(href="/donate") Donate!
