<% wrap_layout :layout do %>
  <article class="news single">
    <header>
      <h1><%= current_page.data.title %><h1>
    </header>

    <div class="post-meat">
      <%= yield %>
    </div>
  </article>
<% end %>
