.button {
  display: inline-block;
  padding: 5px 8px;
  line-height: 1em;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(black, 0.2);
  color: white;
  background: $color-background-button;
  border: 3px solid $color-border-button;
  border-radius: 5px;
  &:hover {
    color: white;
    background-color: darken($color-background-button, 5%);
    border-color: darken($color-border-button, 5%);
  }
}
