.gallery {
  *zoom: 1;
}
.gallery:after {
  content: "";
  display: table;
  clear: both;
}
.gallery > article {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  margin-bottom: 20px;
}
.gallery > article:nth-child(4n+4) {
  float: right;
  margin-right: 0;
}
