.contentwrapper {
  padding: $content-padding;
}

.content {
  @include span(8);
  p {
    line-height: 1.5em;
  }
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

img,
figure {
  &.alignleft {
    margin-right: 1em;
  }
  &.alignright {
    margin-left: 1em;
  }
}

.page-title {
  margin: 0 0 20px 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1em;
}

.intro {
  margin: 0 0 1em 0;
  padding: 20px 0;
  font-size: 25px;
  font-family: $primary-font-family;
  font-weight: 300;
  line-height: 1.75em;
  border-bottom: 3px solid black;
}
