/******************************************************************************
 * Content elements
 *
 * Typographic, content flow, or other tweaks to styles for the heart of the
 * pages itself.
 */

.contentwrapper {
  padding: 1.25rem;
  background: $color-background-content;
}

.content {
  width: 70%;
  float: left;
}

.content p {
  line-height: 1.5em;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

figure.alignleft,
img.alignleft {
  margin-right: 1em;
}

figure.alignright,
img.alignright {
  margin-left: 1em;
}

.intro {
  margin: 0 0 1em;
  padding: 20px 0;
  font-size: 1.5rem;
  line-height: 1.75em;
  border-bottom: 3px solid black;
}
