.site-header {
  position: relative;
  height: $header-height;
  background: white;
  box-shadow: 0 1px 2px rgba(black, 0.2);
}

.site-header-logo {
  @include span(4);
  h1 {
    margin: 0;
    font-size: 25px;
    font-weight: 300;
    line-height: $header-height;
    text-indent: 45px;
    background-image: image-url("scarecrow.png");
    background-position: 0 50%;
    background-repeat: no-repeat;
    > a {
      text-decoration: none;
      color: $color-text;
    }
  }
}

.main-menu {
  @include span(8 omega);
  text-align: right;
  ul {
    margin: 0;
    list-style: none;
  }
  li {
    display: inline-block;
  }
  a {
    display: inline-block;
    height: $menu-height - 5px;
    padding: 0 10px;
    font-size: 16px;
    font-family: $primary-font-family;
    font-weight: 400;
    line-height: $menu-height;
    text-decoration: none;
    color: $color-text;
    border-width: 0 0 5px;
    border-style: solid;
    border-color: transparent;
    &:hover {
      text-decoration: none;
      color: $color-red;
    }
  }
}

// "Simple" per-page highlighting based on body class
body.index #nav-news > a,
body.projects #nav-projects > a,
body.photos #nav-photos > a,
body.about #nav-about > a,
body.sponsors #nav-sponsors > a,
body.contact #nav-contact > a,
body.donate #nav-donate > a {
  color: $color-text;
  border-color: $color-red;
}
