/******************************************************************************
 * Sidebar
 *
 * Ancillary content off to the side for optional perusal.
 */

.sidebar {
  width: 16rem;
  float: right;
}
  .sidebar h1 {
    margin: 0 0 0.5em;
    font-size: 2em;
  }
  .sidebar .widget p {
    line-height: 1.4em;
  }
  .sidebar .widget .important {
    text-align: center;
  }
  .sidebar .widget a {
    text-decoration: none;
  }
