/******************************************************************************
 * Buttons!
 *
 * More enticing than a boring link.
 */

.button {
  display: inline-block;
  padding: 0.5em 1em;
  line-height: 1em;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  color: white;
  background: $color-highlight;
  border: 3px solid $color-highlight-dark;
  border-radius: 0.25em;
}
  .button:hover {
    color: $color-text-inverse;
    background-color: $color-highlight-dark;
    border-color: $color-highlight-dark;
  }
