<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} - {{ .Site.Title }}</title>

    {{- $style := resources.Get "scss/site.css.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" type="text/css">
    {{- range .Params.stylesheets -}}
      {{- $substyle := resources.Get . | minify | fingerprint -}}
      <link rel="stylesheet" href="{{ $substyle.Permalink }}" type="text/css">
    {{- end }}
  </head>
  <body class="{{ .Params.page_class }}">
    <header class="site-header">
      <div class="site-header-logo">
        <h1>
          <a href="/">
            <img src="/images/scarecrow.png" alt="Cultivating Local Yokals Society scarecrow mascot">
            Cultivating Local Yokals Society
          </a>
        </h1>
      </div>
      <nav class="main-menu">
        <ul>
          <li id="nav-news"><a href="/">News</a></li>
          <li id="nav-projects"><a href="/projects">Projects</a></li>
          <li id="nav-photos"><a href="/photos">Photos</a></li>
          <li id="nav-about"><a href="/about">About Us</a></li>
          <li id="nav-sponsors"><a href="/sponsors">Sponsors</a></li>
          <li id="nav-contact"><a href="/contact">Contact</a></li>
          <li id="nav-donate"><a href="/donate">Donate!</a></li>
        </ul>
      </nav>
    </header>

    {{- if .Params.show_title -}}
    <div class="page-title-hero{{ if .Params.hero_text }} with-text{{ end }}"><div class="container">
      <h1 class="page-title">{{ .Title }}</h1>
    </div></div>
    {{- end -}}

    {{- if .Params.hero_text }}
    <div class="page-hero"><div class="container">
      <img src="/images/{{ .Params.hero_image }}" alt="{{ .Params.hero_image_alt }}">
      <div class="page-hero-text">{{ .Params.hero_text | safeHTML }}</div>
    </div></div>
    {{ end }}

    <div class="contentwrapper"><div class="container">
      <div class="content">
        {{ block "main" . }}{{ end }}
      </div>

      <div class="sidebar">
        <div class="widget">
          <h2>Support Our Society</h2>
          <p>
            If you would like to show your support for our society, we would
            appreciate anything you can do!
          </p>
          <p class="important">
            <a class="button button-donate" href="/donate">Donate</a>
            &nbsp; or &nbsp;
            <a class="button button-volunteer" href="/contact">Volunteer</a>
          </p>
        </div>
      </div>
    </div></div>

    {{- range .Params.javascripts -}}
    {{- $javascript := resources.Get . | fingerprint -}}
    <script src="{{ $javascript.Permalink }}"></script>
    {{- end }}
  </body>
</html>
