/******************************************************************************
 * Sidebar
 *
 * Ancillary content off to the side for optional perusal.
 */

.sidebar {
  width: 16rem;
  float: right;

  h2 {
    margin: 0 0 0.5em;
  }

  .widget {
    p {
      line-height: 1.4em;
    }

    .important {
      text-align: center;
    }

    a {
      text-decoration: none;
    }
  }
}
