// ----------------------------------------------------------------------------
// Colour Palette
// ----------------------------------------------------------------------------

$palette-red: #CD1A2C;
$palette-red-dark: darken($palette-red, 10%);
$palette-green: #18B2AC;
$palette-yellow: #CCBA1A;
$palette-peach: #FAF5E6;
$palette-black: black;
$palette-white: white;
$palette-grey: gainsboro;
$palette-dark-grey: grey;


// ----------------------------------------------------------------------------
// Colour assignments
// ----------------------------------------------------------------------------

$color-highlight: $palette-red;
$color-highlight-dark: $palette-red-dark;
$color-highlight-alt: $palette-yellow;
$color-highlight-inverse: $palette-green;

$color-text: $palette-black;
$color-text-inverse: $palette-white;
$color-text-light: $palette-dark-grey;

$color-border: $palette-grey;

$color-background-content: $palette-white;
$color-background-header: $palette-white;
$color-background-hero: $palette-peach;

// ----------------------------------------------------------------------------
// Box Model
// ----------------------------------------------------------------------------

$height-header: 5rem;
