/******************************************************************************
 * Global Defaults
 *
 * Shallow styles to set basics for many common elements.
 */

body {
  font-family: "PT Sans", Helvetica, sans-serif;
  background-color: $color-background-content;
  color: $color-text;
}

*:focus {
  outline: 3px solid $color-highlight-alt;
}

a {
  text-decoration: underline;
  color: $color-highlight;
}

a:hover {
  color: $color-highlight-dark;
}

ol,
ul {
  margin: 1em 0 1em 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0;
  font-weight: 700;
  line-height: 1.1em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

blockquote {
  margin: 1em;
  padding-left: 1em;
  font-style: italic;
  border-left: 5px solid $color-text;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  line-height: 0;
}

p {
  margin: 1em 0;
}

strong {
  font-weight: bold;
}
