.projects {
  article {
    overflow: hidden;
    position: relative;
    margin-bottom: 1.75rem;

    > h1 {
      margin: 0;
      position: absolute;
      top: 1.25rem;
      left: 1.25rem;
      color: $color-text-inverse;
      text-shadow: 0 1px 3px rgba(0,0,0, 0.6);
    }
  }
}
