---
layout: base
---

<div class="contentwrapper"><div class="container">
  <div class="content">
    {{ content | safe }}
  </div>

  <div class="sidebar">
    <div class="widget">
      <h2>Support Our Society</h2>
      <p>
        If you would like to show your support for our society, we would
        appreciate anything you can do!
      </p>
      <p class="important">
        <a class="button button-donate" href="/donate">Donate</a>
        &nbsp; or &nbsp;
        <a class="button button-volunteer" href="/contact">Volunteer</a>
      </p>
    </div>
  </div>
</div></div>
