---
title: About Us
---

%p.intro
  Our garden is an oasis created by people with disabilities for people with
  disabilities. So far on our farm we have: tomatoes, potatoes, chickens, and
  bees.

%h2 About Our Farm
%figure.alignright= image_tag "chicken-tractor.jpg"

%p
  The &#8216;gardening experience&#8217; gives people with disabilities the
  opportunity to participate in planting, cultivating, weeding, and meeting new
  friends.

%p
  The programs offered by the Local Yokels Society have been proven helpful to
  persons with disabilities by improving memory loss and balance and speech
  improvement and also meeting people with gardening interests, making new
  friends, building self esteem, eating organic, participating in food and
  vegetable marketing, becoming a part of the community and creating a
  self-sustainable oasis.

%p
  <strong>Richard and Sandy&#8217;s goals</strong> are to provide a safe garden
  environment that is beneficial for disabled persons with limited
  mobility.

%p
  <strong>We act as role models:</strong> it&#8217;s all about connecting, work
  ethics, completing projects and promoting a healthy diet of organically grown
  local foods.

%h2 Come Visit Us!
%figure.alignleft= image_tag "friends.jpg"

%p
  Our garden is located on Glidden Road on the beautiful Saanich peninsula.
  <strong>Contact us for times for garden therapy programs and
  schedules</strong>. We hope to see you there!

%p
  If you have questions, please <a href="/contact/">contact us!</a>
