---
title: Contact Us
page_class: contact
show_title: true
---

<p class="intro">
  Please feel free to contact us with questions or comments!  We&rsquo;re only
  ever a click or call away.
</p>

<ul class="contacts">
  <li class="phone">
    <h2>Phone</h2>
    (778) 433-3327
  </li>
  <li class="email">
    <h2>Email</h2>
    <a href="mailto:localyokals@shaw.ca">localyokals@shaw.ca</a>
  </li>
  <li class="fax">
    <h2>Fax</h2>
    (250) 414-8470
  </li>
</ul>

<h2>Our Garden</h2>

<p>
  We are located at 6485 Gliddon Rd, North Saanich, BC, Canada. A map can be
  found below.
</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2640.783008197673!2d-123.3932414!3d48.5565502!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548f6e5ebc711aed%3A0xffe52c426e5c1c35!2s6485+Gliddon+Rd%2C+Saanichton%2C+BC+V8M+1Y2!5e0!3m2!1sen!2sca!4v1428338543431" width="635" height="525" frameborder="0" style="border:0"></iframe>

<h2>Our Market</h2>

<p>Our new market is located at 4660 Elk Lake Drive, Saanich, BC.</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2643.633121420906!2d-123.3860174!3d48.501926700000006!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548f7219f713fd75%3A0xe9a11e8777d03a7c!2s4660+Elk+Lake+Dr%2C+Victoria%2C+BC+V8Z+5M1!5e0!3m2!1sen!2sca!4v1428338629307" width="635" height="525" frameborder="0" style="border:0"></iframe>
