---
title: Contact Us
---

h1.page-title Contact Us

p.intro Please feel free to contact us with questions or comments about the garden! We&rsquo;re only ever a click or call away.
ul.contacts
  li.phone
    h2 Phone
    | (250) 414-8470
  li.email
    h2 Email
    a href="mailto:localyokals@shaw.ca" localyokals@shaw.ca
  li.fax
    h2 Fax
    | (250) 414-8470

h2 Our Garden
p We are located at 6485 Gliddon Rd, North Saanich, Capital Regional District, British Columbia, Canada. A map can be found below.
p
  iframe width="565" scrolling="no" height="525" frameborder="0" src="http://www.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=6485+Gliddon+Rd,+North+Saanich,+Capital+Regional+District,+British+Columbia,+Canada&amp;sll=49.891235,-97.15369&amp;sspn=39.643899,89.560547&amp;ie=UTF8&amp;s=AARTsJrSaHwG-lR2HQ0RpCD9lTHnvbFc4g&amp;ll=48.565987,-123.388309&amp;spn=0.029819,0.053644&amp;z=14&amp;iwloc=addr&amp;output=embed" marginwidth="0" marginheight="0"

h2 Our Market
p Our new market is located at 4660 Elk Lake Drive, Saanich, BC.
p
  iframe width="565" height="525" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=4660+Elk+Lake+Road+&amp;sll=48.56877,-123.388309&amp;sspn=0.038451,0.079308&amp;ie=UTF8&amp;ll=48.509611,-123.381701&amp;spn=0.027294,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"


