---
title: Latest News
page_class: index
---

<h1 class="page-title">Latest News</h1>

<div class="news-by-year">
  <section id="news2015">
    <header>
      <h2>2015</h2>
    </header>
    <ul class="news-list">
      <li>
        <strong>Boating and Fishing</strong>
        <p>
          During the last three years we have integrated two paddleboats in
          order to enable our clients to have an exciting and safe fishing
          experience in local lakes.
        </p>
        <p>
          Check out <a href="/photos">the photos page</a> to see them in action.
        </p>
      </li>
    </ul>
  </section>

  <section id="news2014">
    <header>
      <h2>2014</h2>
    </header>
    <ul class="news-list">
      <li><a href="/news/st-michaels-fleming">St. Michael's Students Volunteer at Fleming Owl Cherry Orchard</a></li>
    </ul>
  </section>

  <section id="news2013">
    <header>
      <h2>2013</h2>
    </header>
    <ul class="news-list">
      <li><a href="http://www.timescolonist.com/news/local/good-neighbours-volunteer-gardeners-make-a-difference-1.75656">Forest Rejuvination Project</a></li>
    </ul>
  </section>

  <section id="news2011">
    <header>
      <h2>2011</h2>
    </header>
    <ul class="news-list">
      <li><a href="/news/boys-girls-organic-garden">Boys &amp; Girls Club Organic Garden</a></li>
      <li><a href="/news/mushroom-walk">Mushroom Identification Walk</a></li>
    </ul>
  </section>
</div>
