---
title: Latest News
style: ["pages/news"]
---

%h1.page-title News Archives

.news-by-year
	%section#news2013
		%header
			%h2 2013

		%ul.news-list
			%li= link_to "Forest Rejuvination Project", "http://www.timescolonist.com/news/local/good-neighbours-volunteer-gardeners-make-a-difference-1.75656"

	%section#news2011
		%header
			%h2 2011

		%ul.news-list
			%li= link_to "Boys &amp; Girls Club Organic Garden", "/news/boys-girls-organic-garden"
			%li= link_to "Mushroom Identification Walk", "/news/mushroom-walk"
