---
title: Our Projects
menu: projects
style: ["pages/projects"]
---

%h1.page-title Our Projects

%p.intro
	Here are some of the things we do to enrich the lives of people with
	disabilities.

%article
	%h1 Paddleboats
	%figure= image_tag "paddleboats.jpg", width: 635, height: 278
	%p
		During the last three years we have integrated two paddleboats in order
		to enable our clients to have an exciting and safe fishing experience
		in local lakes.

%article
	%h1 Blackberry Patch
	%figure= image_tag "blackberry-large.jpg", width: 635, height: 198
	%p
		We have been developing an area in our garden where we have made a maze of
		pathways through a large blackberry patch. The pathways are to be wheel
		chair accessible. So far we have about a thousand feet of pathways which
		makes for a much accessible picking area. We are hoping for funding in the
		near future to make it more accessible to persons with limited mobility.

%article
	%h1 Beehives
	%figure= image_tag "beehive-large.jpg", width: 635, height: 198
	%p
		Recently we have had the opportunity to have a dozen beehives in our
		garden. We noticed that we had a larger that usual amount of berries in our
		blackberry patch, and the garden thrived because of the beneficial
		pollinating activities of the bees. We also were able to share this
		experience with the children that were involved in our programs. The honey
		that the bees produced was quite substantial and was enjoyed by all.

%article.last
	%h1 Chicken Tractors
	%figure= image_tag "chicken-tractor-large.jpg", width: 635, height: 198
	%p
		There are very many worthwhile additions to our garden, one of them being
		40 foot long structures with laying spaces called chicken tractors. These
		are cage-like structures that have no floor and are moved through the
		garden area. The chickens that are in this structure tear up the ground and
		fertilize it at the same time and the chickens also produce organic eggs.
		The type of hens that we have are called Isiys.
