---
title: Our Projects
page_class: projects
style: ["pages/projects"]
---

<h1 class="page-title">Our Projects</h1>

<p class="intro">
  Here are some of the things we do to enrich the lives of people with
  disabilities.
</p>
<article>
  <h1>Paddleboats</h1>
  <figure>
    <img src="/images/paddleboats.jpg" width="635" height="278" alt="Paddleboats">
  </figure>
  <p>
    During the last three years we have integrated two paddleboats in order to
    enable our clients to have an exciting and safe fishing experience in local
    lakes.
  </p>
</article>

<article>
  <h1>Blackberry Patch</h1>
  <figure>
    <img src="/images/blackberry-large.jpg" width="635" height="198" alt="Blackberry large">
  </figure>
  <p>
    We have been developing an area in our garden where we have made a maze of
    pathways through a large blackberry patch. The pathways are to be wheel
    chair accessible. So far we have about a thousand feet of pathways which
    makes for a much accessible picking area. We are hoping for funding in the
    near future to make it more accessible to persons with limited mobility.
  </p>
</article>

<article>
  <h1>Beehives</h1>
  <figure>
    <img src="/images/beehive-large.jpg" width="635" height="198" alt="Beehive large">
  </figure>
  <p>
    Recently we have had the opportunity to have a dozen beehives in our
    garden. We noticed that we had a larger that usual amount of berries in our
    blackberry patch, and the garden thrived because of the beneficial
    pollinating activities of the bees. We also were able to share this
    experience with the children that were involved in our programs. The honey
    that the bees produced was quite substantial and was enjoyed by all.
  </p>
</article>

<article class="last">
  <h1>Chicken Tractors</h1>
  <figure>
    <img src="/images/chicken-tractor-large.jpg" width="635" height="198" alt="Chicken tractor large">
  </figure>
  <p>
    There are very many worthwhile additions to our garden, one of them being
    40 foot long structures with laying spaces called chicken tractors. These
    are cage-like structures that have no floor and are moved through the
    garden area. The chickens that are in this structure tear up the ground and
    fertilize it at the same time and the chickens also produce organic eggs.
    The type of hens that we have are called Isiys.
  </p>
</article>
