---
title: Our Sponsors
style: ["pages/sponsors"]
---

%h1.page-title Our Sponsors

%p
	%strong
	We thank all of the organizations below for their wonderful support.

%ul
	%li
		%a(href="http://www.thriftyfoods.ca") Thrifty Foods
	%li
		%a(href="http://www.peninsulaco-op.com/") Peninsula Co-Op
	%li
		%a(href="http://www.rona.ca") Rona Hardware
	%li
		%a(href="http://www.vancity.com") Vancity Bank
	%li
		%a(href="http://www.saltspringseeds.com/") Salt Spring Seeds

%h2 Cannors Nursery
%blockquote
	%p
		We now have a vegetable and fruit stand situated on Elk Lake Road. We would
		send our appreciation to Mr Gordon Nikel, owner of Cannors Nursery, for his
		contribution in purchasing the material required to build the kiosk and as
		well allowing us to market our produce at his location.

	%p Richard Gauthier<br>Executive Director

%h2 St. Michaels School
%blockquote
	%p
		We at Local Yokels Society would like to extend our thanks to St Michaels
		School for their time and effort that they spent in our garden last spring
		and last fall. It was also appreciated by the groups of children that were
		involved with our summer programs. It is wonderful that St Michaels School
		has students that are involved with local community projects. A special
		thanks to Kevin Cook, Program Director at St Michaels School.
	%p
		And thank you for the cash donation to our society which was truly
		appreciated.

	%p Richard Gauthier<br>Executive Director

%h2 Dan Jason
%blockquote
	%p
		Dan Jason has been promoting local organic farming for over twenty years
		and has been actively involved in promoting seed bank awareness in our
		communities. The Cultivating Local Yokels Society would like to thank him
		for his generous seed contributions and support.
	%p
		Sincerely,<br>Richard Gauthier<br>Executive Director.

%h2 A Big Thank You to Pearson College
%blockquote
	%p
		We would like to acknowledge the efforts of the group of students that
		attend Pearson College. Evgerina, Evelina and Markvard organized some
		volunteers from Pearson college to help at a picnic that we held on the
		18th of October, 2008. The garden picnic was an annual event that we have
		for youth and adults with disabilities. The students were TERRIFIC. They
		were very helpful and caring. They also have volunteered in our organic
		garden, we enjoyed their laughter,and enthusiasm. They helped us with many
		projects. We appreciate your cooperation with this fantastic community
		effort and again give thanks to these wonderful students, and future
		leaders.

	%p Sincerely,<br>Richard Gauthier<br>Executive Director.
