// ----------------------------------------------------------------------------
// Colour Palette
// ----------------------------------------------------------------------------

$palette-red: #CD1A2C;
$palette-red-dark: darken($palette-red, 10%);
$palette-yellow: #CCBA1A;
$palette-black: black;
$palette-white: white;
$palette-grey: grey;


// ----------------------------------------------------------------------------
// Colour assignments
// ----------------------------------------------------------------------------

$color-highlight: $palette-red;
$color-highlight-dark: $palette-red-dark;
$color-highlight-alt: $palette-yellow;

$color-text: $palette-black;
$color-text-inverse: $palette-white;

$color-border: $palette-grey;

$color-background-header: $palette-white;

// ----------------------------------------------------------------------------
// Box Model
// ----------------------------------------------------------------------------

$height-header: 60px;
