/******************************************************************************
 * Layout
 *
 * Styles fundamental to the high-level structure and layout of the site.
 */

.container {
  overflow: hidden;
  max-width: 60rem;
  margin: auto;
}
